<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shreyaslakhe.cricin" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".add_player"
            android:label="@string/title_activity_add_player"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.shreyaslakhe.cricin.MainActivity" />
        </activity>
        <activity
            android:name=".start_match"
            android:label="@string/title_activity_start_match"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".add_tournament"
            android:label="@string/title_activity_add_tournament"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".new_activity"
            android:label="@string/title_activity_new_activity"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".add_team"
            android:label="@string/title_activity_add_team"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".teamsList"
            android:label="@string/title_activity_teams_list"
            android:parentActivityName=".add_tournament"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.shreyaslakhe.cricin.add_tournament" />
        </activity>
        <activity
            android:name=".tournamentlist"
            android:label="@string/title_activity_tournamentlist"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".OverRecord"
            android:label="Over"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".select_team2"
            android:label="@string/title_activity_select_team2"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".match_details"
            android:label="@string/title_activity_match_details"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".statboard"
            android:label="stats"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".statistics"
            android:label="stats"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>

    </application>

</manifest>
